.header{
    padding: 15px;
    background-color: #cccccc;
    width: 100%;
    background:rgba(88,72,121,1) ;
    box-shadow: 0px 15px 15px 0px rgba(110,110,110,1);
    display: flex;
    justify-content: space-around;
}
.header-options{
   margin-right: 10px;
}

.header__options-btn{
    padding-left: 25px;
}