.gallery {
    height: 500px;
}
 .slides{
    background: rgb(39,163,120);
    background: radial-gradient(circle, rgba(39,163,120,1) 0%, rgba(88,72,121,1) 100%);
 } 
div.image {
    margin: 35px;
    border: 1px solid white;
    float: left;
    width: 180px;
}
    
div.image:hover {
    border: 1.5px solid wheat;
}
    
div.image img {
  width: 100%;
  height: 150px;
}
    
div.desc {
    padding: 15px;
    text-align: center;
}