.gallery {
    height: 500px;
    color: white;
}
 .done{
    height: 100vh;
    background: rgb(39,163,120);
    padding: 50px;
    background: radial-gradient(circle, rgba(39,163,120,1) 0%, rgba(88,72,121,1) 100%);
 } 
div.image {
    border: 1px solid white;
    float: left;
    width: 180px;
    height: 230px;
}
    
div.image:hover {
    border: 1.5px solid wheat;
}
    
div.image img {
  width: 100%;
  height: 150px;
}
    
div.desc {
    padding: 15px;
    text-align: center;
    color: white;
}